@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  /* border: 1px solid purple; */
}

nav a.active {
  font-weight: bold;
  color: red;
}